#btn29, #btn30{
    overflow: visible;
}

#btn29::after{
    background: $primaryColor3;
    width: 0;
    height: 5px;
    bottom: -2.5px;
    left: 0;
    z-index: 1;
}

#btn29:hover::after{
    width: 100%;
}

#btn30::after{
    background: $primaryColor3;
    width: 0;
    height: 5px;
    float: right;
    bottom: -2.5px;
    right: 0;
    z-index: 1;
}

#btn30:hover::after{
    width: 100%;
}

#btn31, #btn32{
    overflow: visible;
}

#btn31::before{
    background: $primaryColor3;
    width: 0;
    height: 5px;
    top: 98.5%;
    right: 50%;
}

#btn31::after{
    background: $primaryColor3;
    width: 0;
    height: 5px;
    top: 98.5%;
    left: 50%;
}

#btn31:hover::before{
    width: 51%;
}
#btn31:hover::after{
  width: 51%;
}  


#btn32::before{
    background: $primaryColor3;
    width: 0;
    height: 5px;
    top: 98.5%;
    right: 0;
}

#btn32::after{
    background: $primaryColor3;
    width: 0;
    height: 5px;
    top: 98.5%;
    left: 0;
}

#btn32:hover::before{
    width: 51%;
}
#btn32:hover::after{
  width: 51%;
}